head {
.jumbotron {
  margin: 0px auto;
  background: url('https://orig00.deviantart.net/f4a4/f/2013/258/1/c/gif___sunset_train_by_turst67-d6mdbgy.gif') no-repeat center center;
  background-size: cover;
  color: floralwhite;
}
}